.gal-main {
  padding: 30px;
  /* object-fit: contain; */
  /* width: 100%; */
}
.tttg {
  width: 85%;
}

.rrrg {
  margin-left: auto;
  width: 15%;
  /* justify-content: center; */
  align-self: center;
}

.ab-2g {
  margin-left: 180px;
  text-align: center;
  background-image: url("../../../assets/images/grunge.svg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
  font-family: "Rugral";
  letter-spacing: 5px;
}
.pictures-a {
  padding: 10px 0;
  background-color: #f9f1ea;
  border-radius: 10px;
  width: 100%;
  height: 2000px;
}
.pic1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #4c3928;
  font-family: "Inter", sans-serif;
}
.pic-first {
  display: flex;
  justify-content: space-evenly;
}
.pic-real {
  object-fit: contain;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.picoo {
  width: 310px;
  height: 205px;
}

@media screen and (min-width: 100px) and (max-width: 299px) {
  .pic1 {
    font-size: 14px;
  }
  .pic-first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .pictures-a {
    padding: 5px 0;
    height: 5000px;
  }
}
@media screen and (min-width: 300px) and (max-width: 380px) {
  .pic1 {
    font-size: 16px;
  }
  .ab-2g {
    margin-left: 10px;
    font-size: 28px;
    font-weight: 700;
    font-family: "Rugral";
    letter-spacing: 5px;
  }
  .pic-first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .picoo {
    width: 330px;
    height: 125px;
    margin-bottom: 10px;
  }
  .pictures-a {
    padding: 5px 0;
    height: 5000px;
  }
}
@media screen and (min-width: 381px) and (max-width: 500px) {
  .gal-main {
    padding: 10px;
  }
  .pic1 {
    font-size: 18px;
  }
  .ab-2g {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Rugral";
    letter-spacing: 5px;
  }
  .pic-first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .picoo {
    width: 330px;
    height: 125px;
    margin-bottom: 10px;
  }
  .pictures-a {
    padding: 5px 0;
    height: 7000px;
  }
}
@media screen and (min-width: 501px) and (max-width: 850px) {
  .pic-first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
