.articlehero {
  background-image: url("../../gallery/assets/2023/6gal2023.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  background-position: center center;
  display: flex;
  margin-top: 115px;
}
.hero-ww {
  -webkit-text-stroke: 1px #f28c0f;
}

.hero-22 {
  -webkit-text-stroke: 1px #f28c0f;
}
.article22 {
  width: 100%;
  height: 600px;
  margin: auto;
  padding: 40px;
}

@media screen and (min-width: 300px) and (max-width: 380px) {
  .article22 {
    padding: 5px;
    width: 270px;
    margin: auto;
    height: 500px;
  }
}
