.cont {
  margin-top: 70px;
}

.cont-a {
  border: 1px #909dad solid;
  background-color: #fbf6f1;
  margin: auto;
  width: 700px;
  height: 680px;
  border-radius: 20px;
  width: fit-content;
}

.ankara {
  object-fit: contain;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.cont-w1 {
  font-weight: 700;
  font-size: 32px;
  font-family: "Rugral";
  color: #4c3928;
  text-align: center;
}
.cont-w2 {
  color: #546881;
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.cont-form {
  margin: auto;
  width: 80%;
}
.cont-input {
  width: 555px;
  height: 50px;
  border-radius: 40px;
  background-color: white;
  /* color: white; */
  font-size: 20px;
  outline: none;
}
.cont-input:focus,
.cont-inputt:focus {
  color: black;
  border: 1px #f28c0f solid;
}
.cont-input:valid,
.cont-inputt:valid {
  background-color: #826145;
  color: white;
}
/* .cont-input:not(:placeholder-shown),
.cont-inputt:not(:placeholder-shown) {
  background-color: #826145;
  color: white;
} */
.cont-inputt {
  background-color: white;
  /* border: 1px #f28c0f solid; */
  width: 555px;
  height: 125px;
  border-radius: 16px;
  font-size: 20px;
  outline: none;
}

.conbut-a {
  text-align: center;
  /* width: 40%;
  margin: auto; */
}
.cont-button {
  color: white;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  background-color: #f28c0f;
  border-radius: 10px;
  height: 60px;
  width: 250px;
  margin-top: 25px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: none;
}
.cont-button:hover {
  background-color: transparent;
  background-image: url("../assets/images/grunge.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.8s ease;
}
.paper-b {
  margin-left: 9px;
}
@media screen and (min-width: 100px) and (max-width: 299px) {
}

@media screen and (min-width: 300px) and (max-width: 380px) {
  .cont-a {
    width: 305px;
    height: 500px;
  }
  .cont-input {
    width: 230px;
    height: 32px;
  }
  .cont-inputt {
    width: 230px;
    height: 100px;
  }
  .cont-w1 {
    font-size: 20px;
  }
  .cont-w2 {
    font-size: 16px;
  }
  .cont-button {
    width: 170px;
    height: 40px;
    font-size: 16px;
  }
  .paper-b {
    width: 12%;
  }
}
@media screen and (min-width: 381px) and (max-width: 500px) {
  .cont-a {
    width: 350px;
    height: 530px;
  }
  .cont-input {
    width: 240px;
    height: 32px;
  }
  .cont-inputt {
    width: 240px;
    height: 100px;
  }
  .cont-w1 {
    font-size: 20px;
  }
  .cont-w2 {
    font-size: 16px;
  }
  .cont-button {
    width: 180px;
    height: 40px;
    font-size: 16px;
  }
  .paper-b {
    width: 12%;
  }
}
@media screen and (min-width: 501px) and (max-width: 850px) {
  .cont-a {
    width: 350px;
    height: 530px;
  }
  .cont-input {
    width: 270px;
    height: 32px;
  }
  .cont-inputt {
    width: 270px;
    height: 100px;
  }
  .cont-w1 {
    font-size: 20px;
  }
  .cont-w2 {
    font-size: 16px;
  }
  .cont-button {
    width: 210px;
    height: 50px;
    font-size: 16px;
  }
  .paper-b {
    width: 12%;
  }
}
