.footer {
  background-color: #d9a273;
  margin-top: 40px;
  padding: 30px;
  border-top: 2px #4c3928 solid;
}
.footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer1-1,
.footer1-2 {
  width: 33.3333333%;
}
.footer1-2 {
  border-left: 1px #553105 solid;
  border-right: 1px #553105 solid;
  display: flex;
  flex-direction: column;
}
.footer1-2-1,
.footer1-2-2 {
  height: 50%;
  padding-left: 30px;
}
.footer1-2-1 {
  border-bottom: 1px #553105 solid;
}
.foot-w {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3d4c5e;
  text-align: justify;
  line-height: 25px;
  width: 85%;
}
.foot-way {
  display: inline-flex;
  align-items: center;
}
.foot-oro,
.foot-links {
  color: #090b0e;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.foot-last-img {
  width: 100%;
  object-fit: cover;
}
.foot-icon {
  margin-right: 10px;
}
.foot-links {
  color: #090b0e;
}
.footer1-1 {
  padding-left: 30px;
}

.foot-oo {
  font-weight: 700;
  font-size: 24px;
  color: #553105;
  font-family: "Rugral";
}
.foot-o {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3d4c5e;
}
.foot-form {
  display: inline-flex;
  align-items: center;
}
form {
  margin-top: 35px;
}
input {
  border: 0;
  width: 270px;
  height: 40px;
  border-radius: 10px;
}
::placeholder {
  padding-left: 15px;
}
.foot-b {
  border: 0;
  background-color: #f3e2d4;
  height: 42px;
  width: 55px;
  margin-left: -7px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.foot-bb {
  object-fit: cover;
  width: 50%;
}
.foot-socials {
  background-color: rgba(144, 157, 173, 0.15);
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.foot-bbb {
  width: 15%;
}

a {
  text-decoration: none;
}
@media screen and (min-width: 100px) and (max-width: 299px) {
}
@media screen and (min-width: 300px) and (max-width: 380px) {
}
@media screen and (min-width: 381px) and (max-width: 500px) {
  .footer1 {
    flex-direction: column;
  }
  .footer1-1,
  .footer1-2 {
    width: 100%;
  }
  .footer1-2 {
    border-left: 0;
    border-right: 0;

    flex-direction: row;
  }
  .footer1-2-1 {
    border-bottom: 0;
  }
  .footer1-2-1 {
    height: 100%;
    width: 25%;
    border-right: 1px #553105 solid;
  }
  .footer1-2-2 {
    height: 100%;
    width: 75%;
  }
  .footer1-1 {
    padding-left: 0;
  }
}
@media screen and (min-width: 501px) and (max-width: 850px) {
}
