.gallery {
  margin-top: 50px;
}
.gallery1 {
  border-radius: 40px 0px 40px 0px;
  background-color: #fbdbb5;
  height: 76px;
  width: 279px;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
}

.gallery-w {
  /* height: 100%; */
  /* width: 100%; */
  padding-top: 17px;
  font-size: 32px;
  font-weight: 700;
  color: #4c3928;
  font-family: "Rugral";
  letter-spacing: 4px;
  text-align: center;
}
.gallery-w2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  color: #546881;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.gallery-things {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.gallery-things2 {
  width: 1150px;
  display: flex;
  justify-content: center;
}
.gallery-things2-1 {
  width: 650px;
  height: 95px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.gallery-things3 {
  width: 400px;
  height: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 1px 1px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.gallery-button {
  border: 0;
  color: #546881;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  width: 100px;
  height: 50px;
  cursor: pointer;
}
.gallery-area {
  height: 500px;
}

@media screen and (min-width: 100px) and (max-width: 299px) {
  .gallery1 {
    height: 65px;
    width: 260px;
    margin: auto;
    border-radius: 35px 0px 35px 0px;
  }
  .gallery-w {
    padding-top: 17px;
    font-size: 22px;
    font-weight: 700;
  }
  .gallery-w2 {
    font-size: 16px;
    color: #546881;
    padding: 0 10px 0 10px;
  }
  .gallery-things2 {
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  .gallery-things2-1 {
    width: 280px;
    height: 65px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  .gallery-things3 {
    width: 225px;
    height: 45px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 1px 1px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
  .gallery-button {
    font-size: 12px;
    font-weight: 400;
    width: 50px;
    height: 35px;
    cursor: pointer;
  }
}
@media screen and (min-width: 300px) and (max-width: 380px) {
  .gallery1 {
    height: 65px;
    width: 260px;
    margin: auto;
    border-radius: 35px 0px 35px 0px;
  }

  .gallery-w {
    padding-top: 17px;
    font-size: 22px;
    font-weight: 700;
    color: #4c3928;
    font-family: "Rugral";
    letter-spacing: 4px;
    text-align: center;
  }
  .gallery-w2 {
    font-size: 16px;
    color: #546881;
    padding: 0 10px 0 10px;
  }
  .gallery-things2 {
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  .gallery-things2-1 {
    width: 345px;
    height: 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  .gallery-things3 {
    width: 255px;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 1px 1px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
  .gallery-button {
    font-size: 15px;
    font-weight: 400;
    width: 62px;
    height: 40px;
    cursor: pointer;
  }
}
@media screen and (min-width: 381px) and (max-width: 500px) {
  .gallery1 {
    height: 65px;
    width: 260px;
    margin: auto;
    border-radius: 35px 0px 35px 0px;
  }
  .gallery-w {
    padding-top: 17px;
    font-size: 22px;
    font-weight: 700;
  }
  .gallery-w2 {
    font-size: 16px;
    color: #546881;
    padding: 0 10px 0 10px;
  }
  .gallery-things2 {
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  .gallery-things2-1 {
    width: 360px;
    height: 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  .gallery-things3 {
    width: 270px;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 1px 1px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
  .gallery-button {
    font-size: 15px;
    font-weight: 400;
    width: 73px;
    height: 40px;
    cursor: pointer;
  }
}
@media screen and (min-width: 501px) and (max-width: 850px) {
  .gallery1 {
    height: 70px;
    width: 270px;
    margin: auto;
    border-radius: 35px 0px 35px 0px;
  }
  .gallery-w {
    padding-top: 18px;
    font-size: 22px;
    font-weight: 700;
  }
  .gallery-w2 {
    font-size: 16px;
    color: #546881;
    padding: 0 10px 0 10px;
  }
  .gallery-things2 {
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  .gallery-things2-1 {
    width: 450px;
    height: 75px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  .gallery-things3 {
    width: 310px;
    height: 55px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 1px 1px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
  .gallery-button {
    font-size: 17px;
    font-weight: 400;
    width: 70px;
    height: 40px;
    cursor: pointer;
  }
}
