.members {
  height: 350px;
  background-image: url("../../src/assets/images/Group.svg");
  background-size: cover;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
}

/* Header.css */

.mem-con {
  height: 160px;
  width: 330px;
  border-radius: 10px;
  background-color: #fbf6f1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.1s;
  margin: 15px; /* Add margin to create space between the divs */
}

.mem-con.active {
  border: 5px solid #d9a273;
}

.mem-con1 {
  border: 1px solid #826145;
}

.mem-con2 {
  border: 1px solid #826145;
}

.mem-con3 {
  border: 1px solid #826145;
}

.mem-a {
  text-align: center;
}

.mem-oro {
  font-family: "Rugral";
  font-size: 35px;
  font-weight: 700;
  color: #4c3928;
}

.mem-oro2 {
  font-size: 35px;
  font-weight: 700;
  color: #4c3928;
}
.mem-oro2-2,
.mem-oro2-1 {
  font-size: 20px;
  font-weight: 500;
  color: #4c3928;
  font-family: "Inter", sans-serif;
}
.mem-con.active .mem-oro {
  color: #f28c0f;
}
.mem-con.active .mem-oro2-2 {
  font-weight: 600;
}

.socials {
  background-color: rgba(144, 157, 173, 0.2);
  border-radius: 4px;
  height: 56px;
  width: 312px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 40%;
  /* padding-bottom: 2%; */
}
.socials-img {
  width: 100%;
}
.fabric-a {
  width: 100%;
  height: 40px;
  background-image: url("../assets/images/Fabrictexturebackground.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.fabric {
  width: 100%;
  object-fit: cover;
}

/* responsive styling */
@media screen and (min-width: 100px) and (max-width: 299px) {
  .mem-con {
    height: 130px;
    width: 240px;
  }
  .socials {
    width: 190px;
  }
}
@media screen and (min-width: 300px) and (max-width: 380px) {
  .mem-con {
    height: 140px;
    width: 250px;
  }
}
@media screen and (min-width: 380px) and (max-width: 500px) {
  .mem-con {
    height: 140px;
    width: 250px;
  }
}
@media screen and (min-width: 501px) and (max-width: 850px) {
  .mem-con {
    height: 150px;
    width: 260px;
  }
}
@media screen and (min-width: 851px) and (max-width: 1200px) {
  .mem-con {
    height: 160px;
    width: 290px;
  }
}

/* general */
@media screen and (max-width: 850px) {
  .members {
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mem-con {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .socials {
    position: static;
    margin: auto;
  }
  .fabric {
    width: 100%;
  }
}
