.logo {
  cursor: pointer;
  width: 45%;
  margin-right: -330px;
}
.nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 94vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;

  padding: 31.36px 41px;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-item:not(:last-child) {
    margin-right: 5rem;
  }
}
.nav-link {
  padding-bottom: 0.6rem;
}
.nav-item a {
  color: #546881;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
.nav-item a:hover {
  background-image: url("../assets/images/grunge.svg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.nav-end {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.con-b {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Inter", sans-serif;

  font-weight: 600;
  font-size: 18px;
  color: white;
  width: 9rem;
  height: 4rem;
  border-radius: 1.25rem;
  background-color: #f28c0f;
}
.contact-button:hover {
  background-image: url("../assets/images/grunge.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 50.0625em) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 50em) {
  .nav-container {
    background-color: white;
    height: 40px;
    padding: 29.44px;
    width: 89vw;
  }
  .nav-list {
    display: none;
  }
  .nav-icon {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .bar1,
  .bar2 {
    width: 25px;
    height: 2px;
    background-color: #4c3928;
    /* border-radius: 1rem; */
    margin: 4px 0;
    transition: transform 0.5s ease; /* Slower transition */
  }
  /* Your existing CSS for .nav-icon, .bar1, .bar2, etc. */
  .bar1.rotate {
    transform: rotate(45deg) translate(4px, 4px);
  }

  .bar2.rotate {
    transform: rotate(-45deg) translate(4px, -4px);
  }

  .mobile-nav {
    position: fixed;
    top: 6.1rem; /* Adjust the top position as needed */
    right: 0; /* Place it on the right side of the screen */
    width: 100vw; /* Take full width */
    height: 100vh;
    /* background: rgba(255, 255, 255, 0.6); */
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);

    background-color: rgba(242, 140, 15, 0.93);
    backdrop-filter: blur(4px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; /* Arrange vertically */
    align-items: flex-end; /* Align to the right side */
  }
  .mobile-nav.show {
    transform: translateX(0);
  }
  .mobile-nav a {
    font-family: "Inter", sans-serif;

    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: 700;
    font-size: 30px;
  }
  .contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 105px;
    height: 42px;
    border-radius: 10px;
    background-color: #f28c0f;
  }
}

a {
  text-decoration: none;
}

/* Default styling for all navigation links */

/* Styling for the active (current) navigation link */
.nav-item.active a {
  /* color: #4c3928;  */
  color: #4c3928 !important;
  font-weight: 600;
}
