.pic-first {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.picoo {
  width: 310px;
  height: 205px;
}
@media screen and (min-width: 100px) and (max-width: 299px) {
  .picoo {
    width: 210px;
    height: 130px;
  }
}
