.executive-main {
  margin-top: 80px;
  width: 100%;
  height: 1300px;
  background-image: url("../../../assets/images/exeback.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-miss1s {
  display: inline-flex;
  align-items: center;
  margin-left: 170px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.our-goal1s {
  color: #546881;
  font-weight: 700;
  font-size: 32px;
  font-family: "Rugral";
}
.our-goal2s {
  color: #3b97b6;
  font-weight: 500;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
}

.aboutobas {
  width: 15%;
}

.execu-p {
  width: 100%;
  height: 700px;
}

.execu1,
.execu2,
.execu11 {
  display: flex;
  height: 320px;
  justify-content: space-evenly;
}
.execu2 {
  margin-top: 30px;
}
.execu1-1 {
  height: 250px;
  width: 290px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 50px;
  transition: width 0.5s ease, height 0.5s ease;
  cursor: pointer;
}
.execu1-1:hover,
.execu1-3:hover {
  width: 320px;
  height: 270px;
}
.execu1-2 {
  height: 250px;
  width: 320px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: width 0.5s ease, height 0.5s ease;
  cursor: pointer;
}
.execu1-2:hover {
  width: 350px;
  height: 270px;
}
.execu1-3 {
  height: 250px;
  width: 290px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 50px;
  transition: width 0.5s ease, height 0.5s ease;
  cursor: pointer;
}
.execuimg {
  text-align: center;
  padding: 10px 0;
}
.execuimgg {
  width: 42%;
  border-radius: 10px;
}
.execuimgg2 {
  width: 38%;
  border-radius: 10px;
}
.execu-oro {
  text-align: center;
  color: #546881;
  font-weight: 700;
  font-size: 18px;
  font-family: "Rugral";
}
.execu-oro2 {
  text-align: center;
  color: #3b97b6;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 100px) and (max-width: 299px) {
  .executive-main {
    height: 2800px;
  }
  .about-miss1s {
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .our-goal1s {
    font-size: 23px;
    text-align: center;
  }
  .our-goal2s {
    font-size: 12px;
    text-align: center;
  }
  .aboutobas {
    width: 20%;
  }
  .execu1,
  .execu2 {
    display: flex;
    flex-direction: column;
    height: 920px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }
  .execu11 {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }
  .execu1-3,
  .execu1-1,
  .execu1-2 {
    height: 210px;
    width: 210px;
    margin-top: 0px;
  }
  .execu1-1:hover,
  .execu1-3:hover,
  .execu1-2:hover {
    width: 240px;
    height: 240px;
  }
  .execuimgg2 {
    width: 38%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 300px) and (max-width: 380px) {
  .executive-main {
    height: 2800px;
  }
  .about-miss1s {
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .our-goal1s {
    font-size: 25px;
    text-align: center;
  }
  .our-goal2s {
    font-size: 14px;
    text-align: center;
  }
  .aboutobas {
    width: 20%;
  }
  .execu1,
  .execu2 {
    display: flex;
    flex-direction: column;
    height: 920px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }
  .execu11 {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }
  .execu1-3,
  .execu1-1,
  .execu1-2 {
    height: 250px;
    width: 320px;
    margin-top: 0px;
  }
  .execu1-1:hover,
  .execu1-3:hover,
  .execu1-2:hover {
    width: 340px;
    height: 270px;
  }
  .execuimgg2 {
    width: 38%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 381px) and (max-width: 500px) {
  .executive-main {
    height: 2800px;
  }
  .about-miss1s {
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .our-goal1s {
    font-size: 25px;
    text-align: center;
  }
  .our-goal2s {
    font-size: 14px;
    text-align: center;
  }
  .aboutobas {
    width: 20%;
  }
  .execu1,
  .execu2 {
    display: flex;
    flex-direction: column;
    height: 920px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }
  .execu11 {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }
  .execu1-3,
  .execu1-1,
  .execu1-2 {
    height: 250px;
    width: 320px;
    margin-top: 0px;
  }
  .execu1-1:hover,
  .execu1-3:hover,
  .execu1-2:hover {
    width: 340px;
    height: 270px;
  }
  .execuimgg2 {
    width: 38%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 501px) and (max-width: 650px) {
  .executive-main {
    height: 2800px;
  }
  .about-miss1s {
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .our-goal1s {
    font-size: 25px;
    text-align: center;
  }
  .our-goal2s {
    font-size: 14px;
    text-align: center;
  }
  .aboutobas {
    width: 20%;
  }
  .execu1,
  .execu2 {
    display: flex;
    flex-direction: column;
    height: 920px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }
  .execu11 {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }
  .execu1-3,
  .execu1-1,
  .execu1-2 {
    height: 255px;
    width: 335px;
    margin-top: 0px;
  }
  .execu1-1:hover,
  .execu1-3:hover,
  .execu1-2:hover {
    width: 355px;
    height: 275px;
  }
  .execuimgg2 {
    width: 38%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 651px) and (max-width: 850px) {
  .about-miss1s {
    margin-left: 15px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .execu1-3,
  .execu1-1,
  .execu1-2 {
    height: 220px;
    width: 220px;
  }
  .execu1-1:hover,
  .execu1-3:hover,
  .execu1-2:hover {
    width: 320px;
    height: 270px;
  }
  .execuimgg2 {
    width: 38%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 851px) and (max-width: 950px) {
  .execu1-3,
  .execu1-1,
  .execu1-2 {
    height: 250px;
    width: 255px;
  }
  .execu1-1:hover,
  .execu1-3:hover,
  .execu1-2:hover {
    width: 270px;
    height: 270px;
  }
  .execuimgg2 {
    width: 38%;
    border-radius: 10px;
  }
}
